.wrapper{
	width: 100%;
	padding: 40px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 60px;
}

.itemCard {
  flex: 1 1 100px;
  background-color: rgb(239, 244, 247);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  transition: 
    transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    box-shadow 0.4s ease-out,
    background-color 0.3s ease;

  .imageWrapper {
	padding: 10px;
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
  }

  .productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.4s ease;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-weight: 500;
	 font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;

    .productName {
      text-align: center;
      color: rgb(0, 0, 0);
      margin: 0;
      font-size: 23px;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .productDescription {
      padding-top: 20px;
      color: rgb(104, 101, 104);
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
		font-family: 'Open Sans', sans-serif;
      transition: color 0.3s ease;
		white-space: pre-line;
    }
  }

  /* Тени в покое */
  box-shadow: 
  6px 0 7.5px -2px rgba(0, 0, 0, 0.025),  /* Левая тень x2 */
  -6px 0 7.5px -2px rgba(0, 0, 0, 0.025), /* Правая тень x2 */
  0 10px 15px -3px rgba(0, 0, 0, 0.1);    /* Нижняя тень x2 */

  /* Эффекты при наведении */
  &:hover {
    background-color: rgb(255, 255, 255); /* Слегка осветленный фон */
    transform: translateY(0px) scale(1.01);
    box-shadow: 
      0 15px 30px rgba(72, 157, 254, 0.25), /* Синее сияние */
      0 8px 16px rgba(0, 0, 0, 0.15); /* Усиленная объемная тень */
    
    .productName {
      color: #0066cc; /* Более насыщенный цвет */
    }
    
    .productDescription {
      color: rgb(80, 80, 80); /* Более контрастный серый */
    }
    
    .productImage {
      transform: scale(1.05); /* Легкое увеличение изображения */
    }
  }

  
}