.wrapper {
  height: 85vh;
  width: 100%;
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 60px;
  gap: 60px;
}

.form__block {
  flex: 1;
}

.form__container {
  width: 100%;
}

.contact__block {
  flex: 1;
}

