.wrapper {
  height: 85vh;
  width: 100%;
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 60px;
  gap: 60px;
}

.form__block {
  flex: 1;
}

.form__container {
  width: 100%;
}

.contact__block {
  flex: 1;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact__row {
  display: flex;
  align-items: center;
  gap: 8px; /* расстояние между иконкой и текстом */
}

.contact__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0; /* чтобы не сжималась */
}

.contact__text {
  font-size: 18px;
  color: #3f3f3f;
  font-weight: bold;
}

.contacts__media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media__title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.media__image {
  
  border-radius: 8px;
  object-fit: cover;
  width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.4s ease;
}

.media__desription{
  line-height: 1.5;
  color: #3f3f3f;
  font-weight: bold;
}