.logo {
		display: flex;
  		align-items: center; 
  		justify-content: center;
		gap: 10px;            
  		text-decoration: none;
	
		&__icon {
	 	width: 40px;        // Фиксированная ширина
    	height: 40px;       // Фиксированная высота
    	object-fit: contain; 
		
   	}
		
		&__name {
		height: 48px;
		
		color: rgb(255, 255, 255);;

		display: flex;
  		align-items: center; 
  		justify-content: center; 
  		
		font-family: 'Montserrat ', sans-serif;
  		font-weight: 600;
		
  		font-size: 35px;
   }
   }


	


	