.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;  // Контент занимает всё свободное место
  position: relative;
  background-image: url('../../assets/images/backgroung.jpg');
  background-size: cover;
  background-position: center;
  
  @media (min-width: 768px) {
  .content {
    background-attachment: fixed;
  }
}

}

// Если Header должен быть sticky:
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

// Если Footer должен быть внизу:
.footer {
  margin-top: auto;  // Прижимает футер вниз
}