.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Важно для мобильных */
  position: relative;
  z-index: 1; /* Ниже header'а (100) */
}





// Если Header должен быть sticky:
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

// Если Footer должен быть внизу:
.footer {
  margin-top: auto;  // Прижимает футер вниз
}