.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  

  &__container {
  
  
  min-height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  background: rgba(0, 6, 19, 0.8);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
	

 
}


}

