<IfModule mod_rewrite.c>
    RewriteEngine On

    # !!! ЗАМЕНИТЕ "yourwebsite.com" НА ВАШ ДОМЕН БЕЗ http:// !!!
    RewriteCond %{HTTP_HOST} ^react-dtfpromo.vercel.app$ [NC]

    # Если это известный бот (Google, Yandex, соц. сети...)...
    RewriteCond %{HTTP_USER_AGENT} googlebot|bingbot|yandex|baiduspider|twitterbot|facebookexternalhit|linkedinbot|embedly|quora|pinterest|slackbot|whatsapp|vkshare|telegrambot [NC,OR]
    # ...или запрос с параметром _escaped_fragment_ (устаревший стандарт)
    RewriteCond %{QUERY_STRING} _escaped_fragment_

    # ...и при этом запрашивается не файл (не картинка, не CSS, не JS)...
    RewriteCond %{REQUEST_URI} !\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|ico|rar|zip|tar\.gz|doc|docx|xls|xlsx|ppt|pptx|txt|mp4|webm)$

    # ...ТО ПРОКСИРУЕМ запрос на сервер Prerender.io и добавляем токен
    # !!! ЗАМЕНИТЕ "YOUR_PRERENDER_TOKEN" НА ВАШ РЕАЛЬНЫЙ ТОКЕН !!!
    RewriteRule ^(.*)$ http://service.prerender.io/http://%{HTTP_HOST}/$1 [P,L,QSA, E=PRERENDER_TOKEN:GhXpNTiydN5EwyojgF1V]

    # Стандартное правило для React Router: все запросы направляем на index.html
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]

</IfModule>

# Передаем токен в заголовке серверу Prerender (работает вместе с правилом выше)
<IfModule mod_headers.c>
    RequestHeader set X-Prerender-Token "%{PRERENDER_TOKEN}e" env=PRERENDER_TOKEN
</IfModule>