	.header__nav {
		width: 35%;
		max-width: 35%;
		
		display:flex;
	   
	   justify-content: space-between;
		flex-wrap:wrap;
		
		background-color: transparent;
		font-weight: 400;
		font-family: 'Inter', sans-serif;
  		
	}

	.nav__link{
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-size: 16px;
		transition: color 0.3s ease;
		display: flex;
		
		&:hover {
    		color: rgb(196, 223, 240);
  		}

		&.active { 
    		color:#489dfe;
    		font-weight: 600; 
  		}
	}

	

@media (max-width: 730px) {
  .header__nav {
    display:flex;
	 justify-content: space-between;
	 flex-direction: column;
	 
	 width: 80px;
	 height: 100px;
	 padding: 10px 0;
  }
}
		