.content {
  
  width: 100%;
 
  display: flex;
  flex-direction: column;
  padding:40px 40px;
  row-gap: 30px;
  
  
	}

.wrapper__bigWrapper{
	display: flex;
	gap:30px;
	flex-direction: row;
	flex-wrap:wrap;
	height: 400px;

	.bigWrapper__block{
		flex: 1;
   }
}



.wrapper__middleWrapper{
	display: flex;
	gap:30px;
	flex-direction: row;
	flex-wrap:wrap;
	height: 300px;

	.middleWrapper__block{
	flex: 1;
  }
}

.wrapper__smallWrapper{
	height: 200px;
	
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание по левому краю */
  gap: 20px; /* Отступ между строками */
  
}

.pricing__row {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Растягиваем на всю доступную ширину */
}

.pricing__title {
  color: #000; /* Черный цвет для названий */
  font-family: 'Open Sans', sans-serif;   
      font-size: 16px;
      font-weight: 600;
}

.pricing__price {
  color: rgb(104, 101, 104);
  margin-left: 16px; /* Отступ от названия */
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
}

.logistic{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%
}
.logistic__imageWrapper {
    width: 250px;
    height: 170px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
	 
  }

  .logisticImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.4s ease;
	 
  }

  .question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px; /* Отступ между блоками */
  
  
  
  
}

.block {
  flex: 1; /* Равномерное распределение (если нужно) */
}

.question {
  
  color: #000; /* Чёрный */
  margin-bottom: 8px; /* Отступ между вопросом и ответом */
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
}

.answer {
  color: rgb(104, 101, 104);
  font-weight: normal;
  font-family: 'Open Sans', sans-serif; 
 
}